{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
{% if messages %}
<div class="text-center">
    <!-- Message for when a user has logged out -->
	{% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}
<div>
	<h1 class="margin">Kerry Online Farmers' Market</h1>
	<div class="row about-buy-sell">
        <!-- Show 'Login' with calls to action if user is not yet logged in; but only the words 'Buy' and 'Sell' if already logged in -->
    	{% if user.is_authenticated %}
		<div class="col-6 offset-3">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="bubbles"><a href="{% url 'products' %}">Buy</a>
                    </div>
				</div>
				<div class="col-lg-6 col-12">
					<div class="bubbles"><a href="{% url 'new_product' %}">Sell</a>
                    </div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-8 offset-2">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="bubbles"><a href="{% url 'login_buyer' %}">Login to buy</a>
                    </div>
				</div>
				<div class="col-lg-6 col-12">
					<div class="bubbles"><a href="{% url 'login_seller' %}">Login to sell</a>
                    </div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}