{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<p>Test from market.html</p>
<div class="container-fluid bg-1 text-center">
	<h3 class="margin">Kerry Online Farmers' Market</h3>
	<div class="row">
		<div class="col-sm-4 col-12">
			<div class="bubbles">About</div>
		</div>
		<div class="col-sm-4 col-12">
			<div class="bubbles"><a href="{% url 'products' %}">Buy</a></div>
		</div>
		<div class="col-sm-4 col-12">
			<div class="bubbles"><a href="{% url 'login' %}">Sell</a></div>
		</div>
	</div>	
</div>

{% endblock %}