{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div>
	<h1 class="margin">Kerry Online Farmers' Market</h3>
	<div class="row about-buy-sell">
    <div class="col-6 offset-3">
    <div class="row">
		<div class="col-lg-4 col-12">
			<div class="bubbles">About</div>
		</div>
		<div class="col-lg-4 col-12">
			<div class="bubbles"><a href="{% url 'products' %}">Buy</a></div>
		</div>
		<div class="col-lg-4 col-12">
			<div class="bubbles"><a href="{% url 'login_seller' %}">Sell</a></div>
		</div>
	</div>	
    </div>
	</div>
</div>

{% endblock %}