{% extends 'second_base.html' %}

{% block content %}
{% if validlink %}
<h1 class="section-heading">Password reset form</h1>
<form action="" method="post" class="accountform">
	<p>Please use this form to reset your password</p>
	<br>
	<div style="display:none">
		<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
		<p>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label> {{ form.new_password1 }}
		</p>
		<p>{{ form.new_password2.errors }}<label for="id_new_password2">Repeat:</label> {{ form.new_password2 }}
		</p>
		<p><input class="btn btn-primary" type="submit" value="Change my password" /></p>
</form>
{% else %}
<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
	{% endif %}
	{% endblock %}