{% extends 'second_base.html' %}

{% block content %}
{% if messages %}
<div class="text-center">
	{% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %}
<div class="container">
	<div class="row row-flex">
		{% for product in products %}
		<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
			<div class="panel-body">
				<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

				<h3>{{ product.name }}</h3>
				<p class="product-description"><strong>{{ product.description }}</strong></p>
				<p class="product-price"><strong>€{{ product.price }}</strong></p>
				{% if product.user == request.user %}
				<a href="{% url 'edit_product' product.id %}"
					class="btn btn-default"><strong>Edit this product</strong></a>
				<a href="{% url 'delete_product' product.id %}"
					class="btn btn-default"><strong>Delete this product</strong></a>

				{% endif %}

				<form method="post" action="{% url 'add_to_cart' product.id %}">
					{% csrf_token %}
					<div class="input-group">
						<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
						<span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
					</div>
				</form>
				<hr class="block-divider">
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}