{% extends 'second_base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="container sections">
	{% if messages %}
	<div class="text-center">
		{% for message in messages %} {{ message }} {% endfor %}
	</div>
	{% endif %}
	<div>
		<h1 class="section-heading">Sell your product</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | as_bootstrap }}
			<button type="submit" class="btn btn-info">Save</button>
		</form>
	</div>
</div>
{% endblock %}