@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
    line-height: 1.8;
    color: white;   
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../media/images/vegetables.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

p {
    font-size: 16px;
}

.sections {
    text-align: left;
}

.section-heading {
    padding-top: 20px;
}

.navbar {
    background-color: transparent;
}

.search-box {
    padding-right: 8px;
}

.fa-bars {
    color: white;
}

.navbar-toggler {
    padding-left: 0;
    padding-right: 0;
}

.navbar, .about-buy-sell, h1 {
    font-family: 'Spicy Rice', sans-serif;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

button {
    font-size: 1rem;
}

a, .nav-text, .navbar-brand {
    color: white
}

h1 {    
    font-size: 60px;
    text-align: center;
}

.margin {
    margin-top: 90px;
    margin-bottom: 45px;
}

.about-buy-sell {
    padding-top: 45px;
}

.bubbles {    
    font-size: 50px;
}

a:hover, .nav-text:hover, .btn:hover {
    text-decoration: none;
    color: #DECECB;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* PRODUCTS PAGE */

.btn {
    color: white;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    width: 80%;
    margin: auto;    
}

.product-description {
    margin-bottom: 8px;
    text-align: left;
}

.product-price {
    margin-bottom: 8px;
    text-align: left;
}

.block-divider {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: white;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

h1 {
    font-size: 50px;
}

.bubbles {
    font-size: 40px;
}

.navbar-collapse {
    padding-top: 10px;
}

.navbar-brand {
    margin-right: 0;
}

.nav-item {
    padding-left: 0;
}

.nav-link {
    padding: 0;
}

.search-box {
    padding-right: 0;
}

.panel-body {
    width: 100%;
}

}

@media only screen and (max-width: 425px) {

h1 {
    font-size: 40px;
}

.bubbles {
    font-size: 30px;
}

}

@media only screen and (max-width: 340px) {

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    font-size: 1rem;
}

}