@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
    line-height: 1.8;
    color: white;    
}

p {
    font-size: 16px;
}

.sections {
    text-align: left;
}

.navbar {
    background-color: transparent;
}

.navbar, .about-buy-sell, h1 {
    font-family: 'Spicy Rice', sans-serif;
}

.nav-item{
    padding-left: 8px;
    padding-right: 8px;
} 

button {
    font-size: 1rem;
}

.search-box {
    padding-top: 4px;
}

a, .nav-text, .navbar-brand {
    color: white
}

.nav-cart {
    position: relative;
    top: 8px;
}

h1 {    
    font-size: 60px;
    text-align: center;
}

.margin {
    margin-top: 90px;
    margin-bottom: 45px;
}

.about-buy-sell {
    padding-top: 45px;
}

.bg-1 { 
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../media/images/vegetables.jpg") no-repeat center center fixed;
    background-size: cover;
}

.bubbles {    
    font-size: 50px;
}

a:hover, .nav-text:hover, .btn:hover {
    text-decoration: none;
    color: #DECECB;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* PRODUCTS PAGE */

.btn {
    color: white;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
}

.product-description {
    min-height: 40px;
    margin-bottom: 8px;
    text-align: left;
}

.product-price {
    margin-bottom: 8px;
    text-align: left;
}