{% extends 'second_base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="container sections">
    {% if messages %}
    <div class="text-center">
        <!-- Messages from 'registration' function in accounts/views.py -->
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}
    <h1 class="section-heading">Create new account</h1>
	<form method="POST" class="accountform">
		<fieldset class="form-group">
			{% csrf_token %}
			{{  registration_form | as_bootstrap }}
			<button type="submit" class="btn btn-primary">Register</button>
		</fieldset>
	</form>
</div>
{% endblock %}