{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Kerry Online Farmers' Market</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.12.0/css/all.css">
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	{% block head_js %}
	{% endblock %}
</head>

<body>
	
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="/">Home</a>
            <form class="search-box" action="{% url 'search' %}" method="get">
							<input type="text" name="q">
							<button type="search">Find</button>
						</form>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars"></i></span>
        </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">		
                    {% if user.is_authenticated %}	
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'products' %}">
							<span class="nav-text">Buy</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'new_product' %}">
							<span class="nav-text">Sell</span>
						</a>
					</li>
                    {% else %}		
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login_buyer' %}">
							<span class="nav-text">Login to buy</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login_seller' %}">
							<span class="nav-text">Login to sell</span>
						</a>
					</li>
                    {% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'view_cart' %}">
							Cart
							{% if product_count > 0 %}
							<label class="badge badge-warning">{{ product_count }}</label>
							{% endif %}
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'email' %}">
							<span class="nav-text">Contact</span>
						</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'recipes' %}">
							<span class="nav-text">Recipes</span>
						</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">
							<span class="nav-text">Profile</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">
							<span class="nav-text">Logout</span>
						</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'registration' %}">
							<span class="nav-text">Register</span>
						</a>
					</li>					
					{% endif %}
                    
				</ul>
			</div>
		</nav>
    <div class="container-fluid text-center">
		{% block content %}{% endblock %}
	</div>

</body>

</html>