{% extends 'second_base.html' %}
{% block content %}
<div class="row">

	<div class="col">
		<h1 class="section-heading">{{ recipe.name }}</h1>

		<div class="row recipe-details">
			<div class="col-md-6">
				<img class="responsive" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="">
			</div>
				<div class="col-md-6 ingredients-method">


					<h3 class="ingredients-heading">Ingredients</h3>
					<p><strong>{{ recipe.ingredients | linebreaks }}</strong></p>

				</div>
			</div>

			<div class="row">
				<div class="col ingredients-method">
					<h3 class="method-heading">Method</h3>
					<p><strong>{{ recipe.method | linebreaks }}</strong></p>

				</div>
			</div>

		</div>
	</div>

	{% endblock %}