{% extends 'second_base.html' %}
{% block content %}
<div class="row">

	<div class="col">
		<h1 class="section-heading">{{ recipe.name }}</h1>

		<div class="row recipe-details">
			<div class="col-md-6">
				<img class="responsive" src="{{ MEDIA_URL }}{{ recipe.image }}" alt="">
			</div>
				<div class="col-md-6 ingredients-method">


					<h3>Ingredients</h3>
                    <p>{{ recipe.ingredients | linebreaks }}</p>
					<h3>Method</h3>
                    <p>{{ recipe.method | linebreaks }}</p>

				</div>
			
		</div>
	</div>
</div>
{% endblock %}